:root {
  --main-color: #d84800;
  --body-font: 'Poppins-Regular';
}

.show-sidebar {
  height: 100vh;
  width: 20vw;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-sidebar header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000a6;
}

.show-sidebar img {
  max-width: 100%;
  height: auto;
}

.show-sidebar .social_links a {
  font-size: 24px;
  color: #000;
  margin: 0 10px;
}

.show-sidebar .nav-links {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.show-sidebar .nav-links a {
  display: block;
  padding: 6px 6px 6px 15px;
  color: #000;
  text-decoration: none;
}

.show-sidebar .nav-links a:hover {
  background-color: #f3590065;
}

.show-sidebar .nav-links a.active {
  background-color: #f3700c;
  color: #000;
}

.show-sidebar button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.footer {
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #050000;
  border: 2px solid red;
}

.show-sidebar .social_links {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-in-out;
}

.show-sidebar .social_links :nth-child(1):hover {
  color: #ff6200; /* Replace #ff0000 with your desired hover color */
}
